.InputRow {
    position: relative;
}

.Input {
    border: none;
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    line-height: 30px;
    color: #979292;
    font-size: 20px;
    background-color: black;
    border-bottom: 2px solid var(--primery-color);
}

.Input:focus {
    outline: none;
}
.Input::placeholder {
    color: rgba(151, 146, 146, 0.6);
}

.searchIcon {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: var(--secondary-color);
    transition: 0.4s; 
}   

.searchIcon:hover {
    cursor: pointer;
    color: var(--primery-color);
}

