.HeaderName {
    font-size: 18px;
    text-align: left;
    text-transform: lowercase;
    color: var(--primery-color);
    font-weight: 400;
}
.HeaderTitle {
    margin-top: 40px;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}