.App {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  padding: 40px 4rem;
  background: url('./assets/img/bg1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

 @media (max-width: 768px) {
  .App {
    padding: 40px 3rem;
  }
}

@media (max-width: 520px) {
  .App {
    padding: 2rem 2rem;
  }
}

@media (max-width: 320px) {
  .App {
    padding: 1rem 1rem;
  }
} 




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
